
<footer class="footer">
  <div class="container">
    <ul>
      <li><a href="@routes.HomeController.index()">トップページ</a></li>
      <li><a href="@routes.HomeController.about()">UEC休講情報について</a></li>
      <li><a href="@routes.HomeController.source()">休講情報公式ページ</a></li>
    </ul>

    <ul>
      <li><a href="@routes.LectureController.index()">授業一覧</a></li>
      <li><a href="@routes.TeacherController.index()">教員一覧</a></li>
      <li><a href="@routes.KyukoController.index()">休講日一覧</a></li>
    </ul>
  </div>
</footer>
