@import components.footer

@(title: String, scripts: Html = Html(""), styles: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@title - UEC 休講情報</title>
    <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    @styles
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="@routes.HomeController.index" id="logo" class="navbar-brand">UEC 休講情報</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="@routes.HomeController.index">トップ</a></li>
            <li><a href="@routes.HomeController.about">このサイトについて</a></li>
            <li><a href="@routes.HomeController.source">電気通信大学休講情報 - 公式</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      @content
      @footer()
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    @scripts
  </body>
</html>
